<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
    <title>Graph Microservice</title>
</head>
<body>
    <h1>Graph Creation Microservice</h1>

    <button type="button" class="btn btn-dark" id="add-data-point-btn">Add Label & Data Point</button>
    <button type="button" class="btn btn-dark" id="delete-data-point-btn">Delete Label & Data Point</button>
    <button type="button" class="btn btn-dark" id="create-graph-btn">Create Graph</button>
    <button type="button" class="btn btn-dark" id="download-graph-btn">Download Graph</button>


    <div class="form-group" style="width: 10%; margin-left: 6%; margin-right: 84%; margin-top: 20px;">
        <label for="select-options">Graph Type</label>
        <select class="form-control" id="select-options">
            <option value="bar">Bar</option>
            <option value="pie">Pie</option>
            <option value="doughnut">Doughnut</option>
            <option value="polarArea">Polar Area</option>
        </select>
    </div>

    <div class="container-labels-data-points" id="container-labels-data-points" style="width: 20%; margin-left: 6%; margin-right: 74%;">
        
        <div class="label-data-point" id="label-data-point">
            <input class="form-control mr-sm-2" id="graph-label" type="text" placeholder="Label">
            <input class="form-control mr-sm-2" id="data-point" type="text" placeholder="Data Point">
        </div>

        <div class="label-data-point" id="label-data-point">
            <input class="form-control mr-sm-2" id="graph-label" type="text" placeholder="Label">
            <input class="form-control mr-sm-2" id="data-point" type="text" placeholder="Data Point">
        </div>

        <div class="label-data-point" id="label-data-point">
            <input class="form-control mr-sm-2" id="graph-label" type="text" placeholder="Label">
            <input class="form-control mr-sm-2" id="data-point" type="text" placeholder="Data Point">
        </div>

    </div>

    <div class="canvas-div">
        <canvas id="chart" width="800" height="450"></canvas>
        <img id="url">
    </div>

    <script type=text/javascript src="{{url_for('static', filename='js/app.js') }}"></script>
    
</body>

</html>